replicaCount: 2

image:
  repository: python-api
  tag: latest
  pullPolicy: Never

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

ingress:
  enabled: true
  className: nginx
  host: localhost
  path: /api/(.*)
  rewriteTarget: /$1

redis:
  image: redis:7
  port: 6379
  storage:
    size: 1Gi
  password: redis-123

